.archRo3t
{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 24, 0, 0, 0);
    -fx-background-insets: 24;
    -fx-padding: 24;
}
.button1
{
-fx-background-color : #4C83BB;
-fx-text-fill : #FFFFFF;
-fx-background-radius : 3;
-fx-border-radius : 3;
}
.button1:hover
{
-fx-text-fill : #FFFFFF;
-fx-background-color : #1F578F ;
-fx-background-radius : 3;
-fx-border-radius : 3;
}
.button1:pressed
{
-fx-background-color : #4A6374 ;
-fx-background-radius : 3;
-fx-border-radius : 3;
}
.button1s
{
-fx-background-color : #4C83BB;
-fx-text-fill : #FFFFFF;
-fx-background-radius : 0;
-fx-border-radius : 0;
}
.button1s:hover
{
-fx-text-fill : #FFFFFF;
-fx-background-color : #1F578F ;
-fx-background-radius : 0;
-fx-border-radius : 0;
}
.button1s:pressed
{
-fx-background-color : #4A6374 ;
-fx-background-radius : 0;
-fx-border-radius : 0;
}
.button2
{
-fx-background-color : #CBE6EB;
-fx-text-fill : #185597;
-fx-border-color : #4C70BB;
-fx-background-radius : 3;
-fx-border-radius : 3;
}
.button2:hover
{
-fx-background-color : #4A6A7B ;
-fx-text-fill : #FFFFFF;
-fx-background-radius : 3;
-fx-border-radius : 3;
}
.button2:pressed
{
-fx-background-color : #2B3C43 ;
-fx-background-radius : 3;
-fx-border-radius : 3;
}

.button3
{
-fx-background-color : #FFFFFF;
-fx-text-fill : #000000;
-fx-background-radius : 0;
-fx-border-radius : 0;
}
.button3:hover
{
-fx-text-fill : #FFFFFF;
-fx-background-color : #44698F ;
-fx-background-radius : 0;
-fx-border-radius : 0;
}
.button3:pressed
{
-fx-background-color : #4A6374 ;
-fx-background-radius : 0;
-fx-border-radius : 0;
}

.text-field 
{
    -fx-background-color: white;
    -fx-border-color : #D7D6DC;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-field:focused 
{
    -fx-border-color : #D7D6DC;
    -fx-background-color: white;
    -fx-background-radius: 0;
} 
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #42ABCB, #4C7ABB);
}

.menu-bar 
{
    -fx-background-color: transparent;
    -fx-border-width: 2.0;

}
.menu-bar .label 
{
    -fx-font-size: 12.0 pt;
    -fx-text-fill: white;
    -fx-padding: 3.0px;

}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing
 {
    -fx-background: black ;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}

.menu-item
{
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-text-fill: black;
    -fx-background: darkgray ;
}
.menu-item .label
{
    -fx-font-size: 12.0 pt;
    -fx-text-fill: black;
}
.menu-item .label:hover
{
    -fx-font-size: 12.0 pt;
    -fx-background: black ;
    -fx-text-fill: white;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:white ;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;*/
}


.tab-pane .tab
{
    -fx-background-color: transparent;

}

.tab-pane .tab:selected
{
}

.tab .tab-label
{ 
    -fx-background: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12.0 pt;
    -fx-font-weight: normal;
}

.tab:selected .tab-label
{ 
    -fx-background: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12.0 pt;
    -fx-font-weight: bold;
}

.tab-pane  .tab:hover, .tab-pane .tab:focused, .tab-pane .tab:showing {
    -fx-background-color: black;
    -fx-background: black ;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}
.tab-pane .tab-header-area .tab-header-background
{
    -fx-opacity: 0;
    -fx-padding: 0 -1 -1 -1;
}
.hyperlink
{
	-fx-underline: false;
   	-fx-text-fill: black;
}
.hyperlink:hover
{
   -fx-text-fill: #606060;
}
.chart 
{
    -fx-create-symbols: false;
}


.default-color0.chart-area-symbol { -fx-background-color: #e9967a, #ffa07a; }
.default-color1.chart-area-symbol { -fx-background-color: #f0e68c, #fffacd; }
.default-color2.chart-area-symbol { -fx-background-color: #dda0dd, #d8bfd8; }
 
.default-color0.chart-series-area-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-area-line { -fx-stroke: #dda0dd; }
 
.default-color0.chart-series-area-fill { -fx-fill: #ffa07aaa}
.default-color1.chart-series-area-fill { -fx-fill: #fffacd77; }
.default-color2.chart-series-area-fill { -fx-fill: #d8bfd833; }